
//header variables
$primary-font: Roboto,'sans-serif';
$bold-font-weight: 700;
$normal-font-weight: 600;
$primary-font: sans-serif;
$primary-color:red;
$primary-bg-color: rgb(5, 176, 255);
$primary-responsive-display: flex;
$primary-outline: none!important;
$primary-text-decoration: none!important;
$text-color: black;
$bold-font-weight: 700;
$primary-font-size: 1.15rem;


//Lower-Head variables
$primary-lower-head-text-color: white;
$lower-head-primary-bg-color:rgba(17, 168, 168, 0.918);
$lower-head-border:  1px solid #fffefe85;
$lower-head-secondary-bg-color:   rgba(5, 112, 112, 0.527);
