

   @import './reset';

   @mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
   }
    section{
    border: 1px solid red;
    }

    p.best-selling-para{
    text-align: center;
    }

    div.best-seller-part-one-container-wrap{
       @include flexCenter();
      section.col-best-seller-part-one,
      section.col-best-seller-part-two{
    // section.inner-favourite-box2,
    // section.inner-favourite-box3,
    // section.inner-favourite-box4,
    // section.inner-favourite-box5{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 280px;
    // width: 13vw;
    height: 280px;
    margin: 0.5rem;
    background-color: rgb(119, 117, 117);
    border: px solid red;
      }
    }

    section.col-best-seller-part-one{
        background-image: url("/products/footwear/Nike\ Tiempo\ Legend\ 8.jpg");
    }
    section.col-best-seller-part-two{
        background-image: url("/products/audio and speakers/JBL\ mini\ speaker.jpg");
    }