@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Roboto,'sans-serif';
    border: 0px solid;
 
}

img{
    max-width: 100%;
 
}

section{
    border: px solid red;

}

@mixin flexEvenly(){
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

div.top-products-wrap{
    border: px solid red;
    background-color: aliceblue;
    @include flexEvenly();


}
section.left-product-wrapped{
    background-color:#f5cd929a;
  
    
}
section.left-product-wrapped:hover{
    transform: scale(1.11);
    transition-delay: 100ms;
}

section.mid-product-wrapped{
    background-color: rgba(223, 221, 221, 0.856);

}

section.mid-product-wrapped:hover{
    transform: scale(1.1);
    transition-delay: 100ms;
}

section.right-product-wrapped{
   background-color:rgba(252, 192, 203, 0.836) ;
}

section.right-product-wrapped:hover{
    transform: scale(1.11);
    transition-delay: 100ms;
}

section.inner-top-products-brief{
background-color: white;
padding: 2em;
}

h6{
    font-weight: bold;
    font-size: 0.9em;
}
h4{
    font-weight: bolder;
    font-size: 2.5rem;
}
// p.inner-top-products-para{
//     padding: 20px;
//     letter-spacing: 1px;
// }

button.top-products-btn{
    background-color: brown;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 1px;
}

button.top-products-btn a{
    text-decoration: none;
    outline: none;
    border: 0px solid;
    color: white;
    font-size: 1.1rem;
}


button.top-products-btn:hover{
    background-color: black;
}
@media  only screen and (max-width: 950px) {
    div.top-products-wrap{
        flex-wrap: wrap;
        justify-content: center;
    } 
    section.left-product-wrapped:hover,
    section.mid-product-wrapped:hover,
    section.right-product-wrapped:hover {
        transform: scale(1);
        transition-delay: 0ms;
    } 
}
