
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');
@import './reset';
@import './variables';

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   outline: $primary-outline;
   text-decoration: $primary-text-decoration;
   font-family: $primary-font;
   border: px solid red;
}

 section{
      border: px solid red;
  }
  /***CAUTION ON THIS MAIN***/
  main{
   margin-top: 30rem;
 }

 p.copyright{
   font-size: 0.85rem;
   text-align: center;

 }

 @media only screen and (max-width: 1200px) {
   main{
      margin-top: 14rem;
    }
    
    }
    @media only screen and(min-width: 1200px) and (max-width: 1500px) {
      main{
         margin-top: 21rem;
       }
       
       }

 @media only screen and (max-width: 900px) {
   main{
      margin-top: 14rem;
    }
    
    }

    @media only screen and (min-width: 0px) and (max-width: 800px) {
      main{
         margin-top: 0rem;
       }
       
       }








